extends layout
block content
  .container-fluid.vh-100
    .row.banner
      .col-12
        h1= title
    .row
      .col-12.col-lg-8
        p
          | Destination Finder was created to help people find new places to go on holiday.
          | <br /><br />
          | Destination Finder covers a vast array of holiday destinations, from some of the world's most popular holiday destinations  
          | to off-the-beaten-path locations that you may have never considered visiting before. Each featured location is accompanied
          | with an image, brief description and a few key features that should help the reader identify if it's a location that provides
          | what they're looking for from a holiday.
          | <br /><br />
          | The website will soon contain functionality to allow account holders to leave their own reviews and comments on locations 
          | featured on the website as well leaving a star rating which will be used to give users the option to filter locations by 
          | average rating.
