extends layout
block content
  .container-fluid.vh-100
    .rounded.d-flex.justify-content-center
      .col-12.col-md-6.shadow-lg.p-5.bg-light
        .text-center
          h3.text-primary Login
        .p-4
          form(action='')
            .input-group.mb-3
              span.input-group-text.bg-primary
                i.bi.bi-person-plus-fill.text-white
              input.form-control(type='text' placeholder='Username')
            .input-group.mb-3
              span.input-group-text.bg-primary
                i.bi.bi-key-fill.text-white
              input.form-control(type='password' placeholder='Password')
            .d-grid.col-12.mx-auto
              button.btn.btn-primary(type='button')
                span
                |  Login
            p.text-center.mt-3
              | Don't have an account yet? 
              a(href='/register') Sign Up