extends layout
block content
  .container-fluid.vh-100
    app-registration Loading
block scripts
  script(src='/build/runtime.66a9fb164a05cd985912.js')
  script(src='/build/polyfills.f0316ed8b4b6bc051436.js')
  script(src='/build/main.f08baecbb38b0ebdfef3.js')